{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": false
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "settings": {
    "imports/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js"]
      }
    }
  }
}
